.dashboard .search-bar {
	width: 100%;
}

.dashboard .input-container label {
	align-self: flex-end;
}
.dashboard .input-container label {
	padding-right: 1rem;
}
.dashboard input {
	width: 100%;
	text-align: right;
	padding-right: 1rem;
}
.dashboard input::placeholder {
	text-align: right;
}
.dashboard > .upper-section {
	width: 100%;
	background-color: var(--main-color);
	color: var(--secondary-color);
	padding: 0 1rem;
}
.dashboard .age-btns {
	width: 100%;
}
.dashboard .age-btns .select-container {
	bottom: 0.6rem;
	color: black;
	padding-left: 1rem;
}
.dashboard .age-btns .input-container {
	width: 30%;
}
.dashboard .right-section {
	direction: rtl;
}
.dashboard .right-section .input-container {
	margin-left: 1rem;
}
.dashboard .right-section .input-container label {
	margin-left: auto;
}
.dashboard .right-section .age-select {
	display: flex;
	align-items: flex-end;
}
.dashboard .right-section .age-select div {
	flex-grow: 1;
}
.dashboard .right-section .age-select p {
	padding-bottom: 1.2rem;
	text-align: center;
	margin-right: -0.5rem;
	margin-left: 0.5rem;
}
.dashboard .data-grid,
.dashboard > .lower-section {
	width: 100%;
}
.dashboard .data-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 0.25rem;
	padding: 0 0.2rem;
}
.dashboard .age-btns .right-section > .gender-select {
	color: var(--secondary-color);
}
.dashboard .gender-select .select-container {
	padding-top: 1.75rem;
	color: black;
}
.dashboard .gender-select .input-container {
	padding: 0;
	width: 100%;
}

.dashboard .lower-section button {
	padding: 0.75rem 1rem;
	margin: 0.25rem;
}
@media screen and (max-width: 528px) {
	.dashboard .age-btns {
		flex-direction: column;
	}
	.dashboard .right-section {
		display: grid;
		grid-template-columns: repeat(2, auto);
		direction: rtl;
	}
	.dashboard .right-section .input-container {
		width: 100%;
	}
	.dashboard .right-section .input-container label {
		margin-left: auto;
	}
	.dashboard .left-section {
		padding-right: 1rem;
	}
}
.print {
	display: none;
}
@media print {
	@page {
		@bottom-right {
			content: counter(page) " of " counter(pages);
		}
	}
	.print {
		display: unset;
	}
	.dashboard .upper-section .search-bar,
	.age-btns .right-section {
		display: none;
	}
	.dashboard .upper-section {
		margin-top: 0.25rem;
		color: black;
		background-color: transparent;
	}
	.dashboard .upper-section .age-btns {
		justify-content: center;
	}
	.dashboard .age-btns .left-section {
		text-align: center;
	}
	.dashboard .lower-section .data-grid .person-card {
		border: 2px solid black;
		color: black;
		break-inside: avoid;
		margin: 0.25rem;
	}
	.dashboard .lower-section .data-grid {
		display: block;
		break-inside: avoid;
	}
}
