.form-page {
	min-height: 100vh;
	padding: 1rem 0;
	flex-wrap: wrap;
}

.form-page .form-grid {
	display: grid;
	grid-template-columns: repeat(2, minmax(160px, 1fr));
	width: 100%;
	justify-items: center;
	direction: rtl;
}
input {
	text-align: center;
}
button:hover:not(:disabled) {
	border-color: var(--main-color);
}
button:disabled {
	color: darkgray;
	border-color: darkgray;
}
.window {
	margin-top: 0.2rem;
	width: 30%;
}
.child-card {
	width: 100%;
}
.form-page .select {
	flex: 1;
}

@media screen and (max-width: 768px) {
	.window {
		width: 90%;
	}
}
.error {
	border: 3px solid red;
}
