.form-page {
	min-height: 100vh;
	padding: 1rem 0;
	flex-wrap: wrap;
}
.form-page .input-container input {
	width: 80%;
}
.form-page .input-container {
	width: 50%;
}
.form-page input[type="Date"] {
	text-indent: 0.4rem;
}
button:hover:not(:disabled) {
	border-color: var(--main-color);
}
button:disabled {
	color: darkgray;
	border-color: darkgray;
}
.window {
	width: 30%;
}
.child-card {
	width: 100%;
}
@media screen and (max-width: 768px) {
	.window {
		width: 90%;
	}
}
.error {
	border: 3px solid red;
}
