.person-card {
	width: 100%;
	background-color: var(--main-color);
	color: var(--secondary-color);
}
.person-card > .upper-section,
.person-card > .lower-section {
	margin: 1rem;
}
.person-card .parent-container {
	width: 100%;
	padding-bottom: 1rem;
}
.person-card {
	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
	width: 100%;
	direction: rtl;
}
