.person-card {
	width: 100%;
	direction: rtl;
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-size: 15px;
	padding: 0 0.2rem;
}
.info-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(150px, 1fr));
}
.btn-container {
	margin-top: auto;
}
.person-card .parent-container {
	width: 100%;
	padding-bottom: 1rem;
}
